.header{

    height:var(--header-height);

    background:var(--color-primary);

    color:var(--color-text-white);

    padding:0 var(--space-6);

    font-family:var(--font-title);

    font-size:var(--font-xl);

}

.header-title{

    font-family:var(--font-title);

    font-size:24px;

}