.layout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.layout-body {
    display: flex;
    flex: 1;
}

.layout-content {
    flex: 1;
    padding: 20px;
    background: #f4f7fa;
}